[submodule "submodules/zmk"]
	path = submodules/zmk
	url = https://github.com/zmkfirmware/zmk
[submodule "submodules/redox-keyboard"]
	path = submodules/redox-keyboard
	url = https://github.com/mattdibi/redox-keyboard
[submodule "submodules/Redox-neodox-Case"]
	path = submodules/Redox-neodox-Case
	url = https://github.com/Pastitas/Redox-neodox-Case
[submodule "case/libs/Round-Anything"]
	path = case/libs/Round-Anything
	url = https://github.com/Irev-Dev/Round-Anything
